body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
background: #f4f4f4;
}

header {
    background: #320bcc;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.event {
    background: white;
    border: 1px solid #ccc;
    border-left: 5px solid #007bff;
    margin-bottom: 15px;
    border-radius: 5px;
}

.event h2 {
    margin: 0 0 10px;
}
.event button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}